*{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub{
    width: 50%;
    border: 1px solid #444;
    padding: 20px;
    border-radius: 10px;
}
img{
    display: block;
    max-width: 50%;
    width: 20%;
    margin: 20px auto;
}
p{
    justify-content: center;
}
button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover{
    background-color: #232323;
    color: #fff;
}