*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    background-color: #ddd;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-cont{
    border: 1px solid #232323;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #444;
    width: 50%;
}
h2{
    text-align: center;
}
.price{
    border: 5px solid #040404;
    width: 20%;
    margin: 30px auto;
    padding: 25px;
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
}