body{
    overflow: hidden;
    background-color: pink;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub{
    width: 40%;
    text-align: center;
    border: 1px solid #000;
    padding: 30px;
}
h3{
    line-height: 35px;
    font-weight: 500;
}
button{
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
    padding: 10px 15px;
}