@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 100vh;
    @include center();

    .sub{
        padding: 20px;
        width: 50%;
        border-radius: 15px;
        border: 1px solid #222;

        button{
            display: block;
            margin: 15px auto;
            padding: 10px 15px;
            cursor: pointer;
        }
    }
}