@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
body{
    background: #040404;
    color: #17D4FE;
    overflow: hidden;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    display: block;
    font-size: 10em;
    font-family: 'Orbitron';
    letter-spacing: 10px;
    margin: 0;
}
